#libraries {
  z-index: 1;
  position: absolute;
}

.library {
  background: #34C43C;
  padding: 4%;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'arial';
  margin: 0% 4%;
  font-size: 36px;
}

.library b {
  color: #424242;
}

.library ol {
  -webkit-padding-start: 0;
}

.library li {
  background: #7CFF73;
  list-style: none;
  margin-bottom: 4%;
  border-radius: 10px;
  cursor: pointer;
}

.library .hover {
  background: #57B250;
  color: #BABABA;
}

.library li a {
  text-decoration: none;
  color: #363636;
  word-wrap: break-word;
  height: 5%;
  text-align: center;
  padding-top: 24px;
  display: block;
  min-height: 100px;
}
